<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

  <div class="form-signin">
    
    <h1 class="white-header">Log In</h1>
   
    <%= form_tag sessions_path do %>
        <div>
            <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email' %>
        </div>

        <div>
            <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Password' %>
        </div>
      <div><%= submit_tag "Log in", class: 'btn btn-lg btn-primary btn-block' %></div>
    <% end %>

    <br>
    <%= link_to "Customer Sign Up", new_customer_url %><br />

    <%= link_to "Restaurant Owner Sign Up", new_owner_url %> 
  </div>

</div>

</div>