<h1>All Restaurants</h1>

<p>List of all the resto's that you can choose from</p>

<% @restaurants.each do |restaurant| %>
	
	<p><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %>
	<br />
	<br />
	<p class="shortened">
		<%= restaurant.description %>
	</p>
	</p>
	<br />

<% end %>

<p>
  <% if current_user %>
    Logged in with <%= current_user.email %>.
    <%= link_to "Log Out", sessions_destroy_url, method: :delete %>

    
  <% else %>
    <%= link_to "Sign In", new_session_url %> or

    <%= link_to "Customer Sign Up", new_customer_url %> 
	<br><br>
	<%= link_to "Restaurant Owner Sign Up", new_owner_url %> 
  <% end %>
</p>
